<!-- <h1>I am the Home Template!</h1> -->

<div id="aboutContainer">
    <h1 id="aboutH1">About the Hello World App!</h1>
    <h2 class="aboutH2" >What does it do?</h2>
        <p class="aboutDescription">
            The Hello World App allows users to research a country that they are planning on traveling to.
            The user is able to quickly learn basic information about the searched country such as the capitol, size, population, languages spoken, etc.
            In addition to this information, the user will also be given a list of common phrases that have been translated into the searched country's language(s) as well as allow the user to translate their own custom phrases into the searched country's language(s).
            Further development of this app would allow users to look up intersting things to do within their country for the duration of their stay as well as convert native currencies into currencies that the user is familiar with.
        </p>
    <h2 class="aboutH2" >Why should you use it?</h2>
        <p class="aboutDescription">
            Even though one will not be able to pass as a local, knowing some basic information about the country one is visiting can go a long way in helping one be comfortable in a foreign land.
            It is also incredibly important to be able to communicate with the people of the country one is visiting if they are to get the most of their trip.
            From locating the bathroom to simply engaging with the locals, communication is essential.
        </p>
    <h2 class="aboutH2" >How does it work?</h2>
        <p class="aboutDescription">
            This front-end app was built in the AngularJS 1.7.8 framework and is integrated with various APIs for data gathering and rendering.
            The app calls upon the <a class="aboutAnchor" href="https://rapidapi.com/fayder/api/rest-countries-v1">REST Countries V1 API</a> to render the country information as well as tell the <a class="aboutAnchor" href="https://www.ibm.com/watson/services/language-translator/">Watson Translate API</a> what languages to convert the sample phrases and user input into.
        </p>
    <h2 class="aboutH2" >Who Made it?</h2>
    <div id="mainDeveloperContainer">
        <div class="devContainer">
            <h3 class="developerName">Hannah Barker</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png" class="developerPic">
            <p class="developerBio">I'm super cool and I helped to develop this app!</p>
        </div>
        <div class="devContainer">
            <h3 class="developerName">Jessa Challa</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png" class="developerPic">
            <p class="developerBio">I'm super cool and I helped to develop this app!</p>
        </div>
        <div class="devContainer">
            <h3 class="developerName">Derek DenHartigh</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png" class="developerPic">
            <p class="developerBio">I'm super cool and I helped to develop this app!</p>
        </div>
        <div class="devContainer">
            <h3 class="developerName">Dave Gillespie</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png" class="developerPic">
            <p class="developerBio">I'm super cool and I helped to develop this app!</p>
        </div>
    </div>
</div>