<section ng-controller="TranslateController">
  
        <ul>
          <li ng-repeat="phrase in phrases"> 
            <h3> {{ phrase.foreign }} </h3>
            <h3> {{ phrase.english }} </h3>
           <!-- <div class="remove" ng-click="removePhrase(phrase)">x</div> -->
          </li>
        </ul>
   
        <!-- <form ng-submit="addphrase()">
          <input type="text" placeholder="Name" ng-model="newphrase.name"/>
          <input type="text" placeholder="Belt" ng-model="newphrase.belt"/>
          <input type="submit" value="SUBMIT" />
        </form> -->
   
     </section>